<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/Melted Monster.ttf">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">    
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body id="bg3">
    <header>
        <nav class="navbar navbar-expand-lg nav-txt">
            <a class="navbar-brand logo" href="/dashboard"><img src="../assets/logov1.png" alt="logoGWISIN" id="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-expanded="false" >
                <i class="material-icons" style="color: bisque;">menu</i>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item">
                        <a class="navbar-menu" href="/dashboard">For You</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-menu" href="/story">Story</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-menu" href="/audio">Audio</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-menu active" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <div class="about" id="head-about">
        <h1 id="header">
            ABOUT US
        </h1>
    </div>

    <div class="container justify-content-center loader">
        <span></span>
        <span></span>
        <span></span>
        <h2>GWISIN<br>&nbsp;귀신</h2>
    </div>
    <!-- <div class="about" id="logo-about">
        <img src="../assets/logov1.png" alt="logo" id="logo-edited">
    </div> -->

    <div class="about" id="text-about">
        <p id="th">
            GWISIN คือเว็บไซต์ที่เกิดจากการรวมตัวกัน ของกลุ่มคนที่สนใจในเรื่องเล่าสยองขวัญ หรือเรื่องเล่าสิ่งลี้ลับต่าง ๆ ที่รวบรวมเอาไว้จากหลายที่ ทั้งในประเทศและนอกประเทศ โดยตัวเว็บไซต์จะนำเสนอ เรื่องเล่า ในหลากหลายรูปแบบทั้งเป็นแบบให้อ่าน พอดต์แคส คลิปวิดีโอที่มีคนมาเล่าให้ฟัง จัดทำขึ้นเพราะทางเราคิดว่าการหาเรื่องเล่าประเภทนี้อ่านนั้นสามารถหาได้ง่าย แต่ว่าตัวเว็บไซต์ที่ทำขึ้นโดยมีแค่เรื่องเล่าประเภทนี้นั้นมีน้อยมาก และเนื้อหากับระบบต่าง ๆ ภายในเว็บไซต์ใช้งานได้ยาก ทางเราเลยทำการสร้างเว็บไซต์นี้ขึ้นเพื่อเป็นแหล่งรวบรวมเรื่องเล่าสยองขวัญต่าง ๆ เพื่อให้ผู้ที่สนใจเรื่องประเภทนี้ ได้มีเว็บไซต์สำหรับอ่านหรือฟังเรื่องเล่าโดยเฉพาะ
        </p>
    </div>
    <!-- <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <h2>G W I S I N<br>귀 신</h2>
    </div> -->
</body>
</html>