<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/Melted Monster.ttf">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">    
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body id="bg">
    <header>
        <nav class="navbar navbar-expand-lg nav-txt">
            <a class="navbar-brand logo" href="/dashboard"><img src="../assets/logov1.png" alt="logoGWISIN" id="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-expanded="false" >
                <i class="material-icons" style="color: bisque;">menu</i>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item">
                        <a class="navbar-menu active" href="/dashboard">For You</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-menu" href="/story">Story</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-menu" href="/audio">Audio</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-menu" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="marquee">  
        <p>G W I S I N 귀 신 A HORROR STORY</p>
    </div>
   
    <div class="row" style="padding-bottom: 20px;">
        <div class="col-lg-7">
            <h5 id="popular-head">Random Story<span class="badge bg-primary" id="badge-new">Trending</span></h2>
                <div class="trend-container">
                <% for(var i = 0; i < randomStory.length; i++){ %>
                <a href=<%= "/story/" + randomStory[i].title %>>
                <div class="detail-container">
                    <div class="box-1">
                        <div class="box-2">
                            <span class="genre" id="th"><%= randomStory[i].genre %></span>
                </div>
                    <span class="title" id="th"><%= randomStory[i].title %></span>
                </div>           
                </div> </a>
                <% } %>
        </div>
    </div>
    <div class="col-lg-5 responsive">
            <h5 id="popular-head">Horror Day<span class="badge bg-danger" id="badge-new">Live</span></h2>
            <div class="col-md-4 justify-content-end video-dash">
                <iframe width="375" height="255" src="https://www.youtube.com/embed/O44K3t54roc" title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div style="text-align: left;">
                <h5 id="previous-head">Previous Night</h2>
            </div>
            <div class="col-md-4 justify-content-end video-dash">
                <iframe width="375" height="255" src="https://www.youtube.com/embed/N4-927C-I2c" title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
   

          
</body>
<script src="random.js"></script>
</html>