/* css */

/* nav-bar */
.navbar-menu {
    font-size: 1em;
    margin-top: -10px;
    padding-top: 15px;
    padding-right: 50px;
    color: #dadada;
    text-decoration: none;
    line-height: 25px;
    display: inline-block;
}
.navbar-brand {
    font-size: 25px;
}

.navbar-menu.active:after {
    background: none scroll 0 0 #ff781f;
    content: "";
    display: block;
    height: 3px;
    width: 100%;
}
.navbar-menu:after {
    transition: all ease-in-out .5s;
    background: none repeat scroll 0 0 #ff781f;
    content: "";
    display: block;
    height: 3px;
    width: 0;
}
.navbar-menu:hover {
    text-decoration: none;
    color: #ecdc7e;
}
.navbar-menu:hover:after {
    text-decoration: none;
    color: #1b1b1b;
    width: 100%;
}
input[type=text] {
    font-size: 17px;
    border: none;
    border-radius: 20px;
    text-align: left;
}

.logo {
    line-height: 10px;
}
#logo {
    height: 150px;
    width: 150px;
    border-radius: 180px;
    margin-right: 40px;
    /* for more 1440-1080px = margin-left: 40em; */
}

/* nav-bar */

/* @a */
body {
    color: bisque;
    background-color: #313131;
    font-family: 'Red Hat Mono', monospace;
}

#eng {
    font-family: 'Red Hat Mono', monospace;
}
#th {
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 18px;
}
@font-face {
    font-family: 'melt monster';
    src: url(/assets/Melted\ Monster.ttf);
}
#bg {
    background-image: url('/assets/bgv2.png');
    background-size: cover;
}
#bg2 {
    background-image: url('/assets/WebStorybg.png');
    background-size: cover;
}
#bg3 {
    background-image: url('/assets/WebbgAbout.png');
    background-size: cover;
}
#bg4 {
    background-image: url('/assets/WebAudiobg.png');
    background-size: cover;
}
#header {
    font-family: 'melt monster';
    font-size: 64px;
    font-weight: bolder;
}
/* @a */

/* dashboard */

.marquee {
    height: 170px;
    overflow: hidden;
    position: relative; 
    color: #ffffff;
    font-size: 150px;
    font-weight: bold;
    margin-bottom:40px;
}
.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
}
  

  
@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
#popular-head {
    margin: 1em 5.6em;
}
#previous-head {
    margin-top: 1.5em;
    margin-left: 7em;
}
#badge-new {
    margin: 0 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.detail-container {
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 5.5em;
    margin-left: 30px;
    color: #1b1b1b;
    border-radius: 10px;
    padding-left: 15px;
}
.trend-container {
    /* display: flex;  */
    margin-left: 5em; 
    margin-top: 2em;
}
/* dashboard */

/* about */
.about {
    text-align: center;
    padding-bottom: 2.5em;
}
#head-about {
    margin: 2em 0;
}
#logo-about {
    margin: 3em 0;
}
#logo-edited {
    height: 30em; 
    width: 30em;
    box-shadow: 10px 10px 5px rgb(189, 189, 189);
    border-radius: 360px;
}
#text-about {
    margin-top: 2.5em;
    padding: 0 4em;
}
.loader {
    position: relative;
    width: 450px;
    height: 450px;
    justify-content: center;
    align-items: center;
}
.loader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #ffffff;
    pointer-events: none;
    animation: animate 5s linear infinite;
}
.loader span:nth-child(1) {
    border-radius: 38% 62% 64% 36% / 43% 35% 65% 57%;
}
.loader span:nth-child(2) {
    animation-direction: reverse;
    border-radius: 37% 63% 34% 66% / 63% 42% 58% 37%;
}
.loader span:nth-child(3) {
    animation-duration: 3s;
    border-radius: 53% 47% 50% 50% / 64% 63% 37% 36%;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loader h2 {
    padding-top: 15px;
    font-weight: 500;
    color: #ffffff;
    font-family: 'melt monster';
    font-size: 120px;
    text-shadow: #1b1b1b;
    word-spacing: 50%;
    text-shadow: 8px 8px 5px #313131;
}
/* about */

/* story */
.box-image {
    text-align: center;
}
#image {
    box-shadow: 0 -4px -8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    height: 250px;
}
#text {
    background-color: #ffffff;
    width: 350px;
    height: 70px;
    padding-top: 25px;
    color: #313131;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 16px;
    text-decoration: none;
}
.story-container {
    display: flex;
    margin-top: 50px;
}
/* story */

/* audio */
/* HORIZONTAL SCROLL */
.scroll-container{
    overflow: auto;
    white-space: nowrap;
    padding: 5px 70px 5px 20px;
    background: transparent;
    height: 100%;
    border-radius: 15px;
  }
.gridscroll{
    display:inline-block;
  }
  
.gridscroll iframe {
    margin-right: 22px;
  }
.head-channel {
    margin: 22px 22px;
  }
/* audio */

/* view story */
.header-story {
    font-family: 'Noto Sans Thai', sans-serif;;
    font-size:  36px;
    font-weight: bolder;
    margin-top: 2em;
}
.img-story {
    text-align: center;
    margin: 2em 0;
    width: 625px;
    height: 455px;
    box-shadow: 3px 3px 5px #1b1b1b;
}
.detail-story {
    background-color: #313131;
    border-radius: 20px;
    padding: 1.5em 1.5em;
}
section .set {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
section .set div {
    position: absolute;
    display: block;
}
section .set div:nth-child(1) {
    left: 20%;
    animation: animate2 15s linear infinite;
    animation-delay: -7s;
}
section .set div:nth-child(2) {
    left: 50%;
    animation: animate2 20s linear infinite;
    animation-delay: -5s;
}
section .set div:nth-child(3) {
    left: 70%;
    animation: animate2 15s linear infinite;
    animation-delay: 0s;
}
section .set div:nth-child(4) {
    left: 85%;
    animation: animate2 18s linear infinite;
    animation-delay: -10s;
}
section .set div:nth-child(5) {
    left: 85%;
    animation: animate2 15s linear infinite;
    animation-delay: -5s;
}
section .set div:nth-child(6) {
    left: 0%;
    animation: animate2 12s linear infinite;
}
section .set div:nth-child(7) {
    left: 15%;
    animation: animate2 14s linear infinite;
}
section .set div:nth-child(8) {
    left: 60%;
    animation: animate2 15s linear infinite;
}
@keyframes animate2 {
    0% {
        opacity: 0;
        top: -25%;
        transform: translateX(20px) rotate(0deg);
    }
    10% {
        opacity: 1;
    }
    20% {
        transform: translateX(-20px) rotate(45deg);
    }
    40% {
        transform: translateX(-20px) rotate(90deg);
    }
    60% {
        transform: translateX(20px) rotate(180deg);
    }
    80% {
        transform: translateX(-20px) rotate(270deg);
    }
    100% {
        top: 125%;
        transform: translateX(20px) rotate(360deg);
    }
}
.set2 {
    transform: scale(1.5s) rotateY(180deg);
    filter: blur(2px);
}
.set3 {
    transform: scale(0.5) rotateX(180deg);
    filter: blur(4px);
}

/* view story */

/* responsive */
@media  screen and (max-width: 768px){
    iframe {
        width: auto;
        height: 200px;
    }
    h1 {
        font-size: auto;
    }
    p {
        font-size: auto;
    }
    .img-story {
        width: 450px;
        height: 355px;
        background-position: center;
    }
    .navbar-menu {
        margin-top: 10px;
    }
    .navbar-search {
       border-radius: 20px;
    }
/* responsive */
}